<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <div class="col-sm-6">
        <div class="row">@ViewBag.Player1Name</div>
        <div class="row">
            Life: <span id="lblPlayer1CurrentLife">@ViewBag.Player1CurrentLife</span>/<span>@ViewBag.MaxLife</span>
        </div>
        <div class="row">
            Energy: <span id="lblPlayer1CurrentEnergy">@ViewBag.Player1CurrentEnergy</span>/<span>@ViewBag.MaxEnergy</span>
        </div>
        <div class="row">
            <input type="button" id="btnPlayer1Punch" value="Punch" />
            <input type="button" id="btnPlayer1Kick" value="Kick" />
            <input type="button" id="btnPlayer1Special" value="Special" />
            <input type="button" id="btnPlayer1Heal" value="Heal" />
        </div>
    </div>
    <div class="col-sm-6">
        <div class="row">@ViewBag.Player2Name</div>
        <div class="row">
            Life: <span id="lblPlayer2CurrentLife">@ViewBag.Player2CurrentLife</span>/<span>@ViewBag.MaxLife</span>
        </div>
        <div class="row">
            Energy: <span id="lblPlayer2CurrentEnergy">@ViewBag.Player2CurrentEnergy</span>/<span>@ViewBag.MaxEnergy</span>
        </div>
        <div class="row">
            <input type="button" id="btnPlayer2Punch" value="Punch" />
            <input type="button" id="btnPlayer2Kick" value="Kick" />
            <input type="button" id="btnPlayer2Special" value="Special" />
            <input type="button" id="btnPlayer2Heal" value="Heal" />
        </div>
    </div>
</body>
</html>
<script>
    $(document).ready(function () {
        $("#btnPlayer1Punch").on("click", function () {
            $.ajax({
                type: "POST",
                url: "@(Url.Action("Player1Punch"))",
                success: function (e) {
                    $("#lblPlayer1CurrentEnergy").text(e.Player1CurrentEnergy);
                    $("#lblPlayer2CurrentLife").text(e.Player2CurrentLife);
                }
            });
        });

        $("#btnPlayer2Punch").on("click", function () {
            $.ajax({
                type: "POST",
                url: "@(Url.Action("Player2Punch"))",
                success: function (e) {
                    $("#lblPlayer1CurrentLife").text(e.Player1CurrentLife);
                    $("#lblPlayer2CurrentEnergy").text(e.Player2CurrentEnergy);
                }
            });
        });

        $("#btnPlayer1Kick").on("click", function () {
            $.ajax({
                type: "POST",
                url: "@(Url.Action("Player1Kick"))",
                success: function (e) {
                    $("#lblPlayer1CurrentEnergy").text(e.Player1CurrentEnergy);
                    $("#lblPlayer2CurrentLife").text(e.Player2CurrentLife);
                }
            });
        });

        $("#btnPlayer2Kick").on("click", function () {
            $.ajax({
                type: "POST",
                url: "@(Url.Action("Player2Kick"))",
                success: function (e) {
                    $("#lblPlayer1CurrentLife").text(e.Player1CurrentLife);
                    $("#lblPlayer2CurrentEnergy").text(e.Player2CurrentEnergy);
                }
            });
        });

        $("#btnPlayer1Special").on("click", function () {
            $.ajax({
                type: "POST",
                url: "@(Url.Action("ExecSpecialPlayer1"))",
                success: function (e) {
                    if (e.SpecialIsValid) {
                        $("#lblPlayer2CurrentLife").text(e.Player2CurrentLife);
                        $("#lblPlayer1CurrentEnergy").text(e.Player1CurrentEnergy);
                    } else
                        alert("Can not exec special");
                }
            });
        });
        
        $("#btnPlayer2Special").on("click", function () {
            $.ajax({
                type: "POST",
                url: "@(Url.Action("ExecSpecialPlayer2"))",
                success: function (e) {
                    if (e.SpecialIsValid) {
                        $("#lblPlayer1CurrentLife").text(e.Player1CurrentLife);
                        $("#lblPlayer2CurrentEnergy").text(e.Player2CurrentEnergy);
                    }else
                        alert("Can not exec special");                    
                }
            });
        });



    });
</script>
